body { font-family: 'Roboto', sans-serif;}

/* Common Header */
.design-one, .design-two, .design-three {height:100vh; position:relative;}
.chatbot {width:400px; height:530px; position:absolute; right:20px; bottom:20px; box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.25); border-radius:10px;}
.chatbot .header {border-bottom:1px solid rgba(0, 0, 0, 0.15);}
.p-image {padding:5px 0;}
.chatbot .header .col-xl-2 .p-image::after {content:""; width:10px; height:10px; border-radius:50%; background-color:#0cd036; position:absolute; bottom:10px; right:10px; border:solid #fff 1px;}
.chatbot .header .col-xl-5 h6 {font-size:15px; margin-top:16px;}
.chatbot .header .col-xl-1 {padding:15px 35px 0 0;}
.chatbot .header .col-xl-1 span {font-size:20px;}

/* Common Footer */
.form-box {background-color:#fff; border-top:solid 1px #dadada; border-bottom:solid 1px #dadada; margin-top:20px; display:flex; justify-content:space-around; align-items:center; padding:3px 0;}
.form-box input {border:none; outline:none;}
.form-box button {border:none; outline:none; background:none;}
.form-box button span {color:#dadada; transform:rotate(40deg) translateY(3px); font-size:30px;}
.copyright {font-size:11px; color:#bdbdbd; padding-right:20px; padding-top:5px;}

/* Design-one */
.question-one {background-color:#21487e; color:#fff; font-size:15px; padding:10px 0; border-radius:10px; text-align:center; margin:15px 0px;}
.headding {background:linear-gradient(#0f0145, #021b35); color:#fff; border-radius:10px; padding:10px 15px 40px 15px; font-family:'Montserrat',sans-serif; }
.headding img {margin:15px 0;}
.headding h5 {font-weight:500; margin:0 0 20px 0;}
.headding p {padding:0 40px 15px 0; font-size:15px; line-height:30px;}
.headding a {padding:8px 35px; color:#fff; border:1px solid #fff; border-radius:25px;}
.headding a:hover {text-decoration:none; background-color:#fff; color:#0f0145;}

/* Design-two */
.design-two .chatbot { height:550px;}
.para-gray { background-color: #f5f5f5; padding: 10px 15px 10px 15px; border-radius: 10px; font-size: 15px; margin-bottom: 10px;}
.para-gray p { margin-bottom: 0; color: rgba(0, 0, 0, 0.70);}
.controls-space { height: 30px; background-color: #263238;}
.slider-content { border: 2px solid rgba(0, 0, 0, 0.25);}
.slider-head {background-color: #36464e; color: #fff; text-align: center; padding: 10px 0; border: 2px solid #646f74;}
.slider-content .col-xl-4 { font-size: 14px; padding: 5px 0 0px 15px;}
.slider-content .col-xl-8 { font-size: 13px; color: #929393; padding: 5px 15px 5px 10px;}
.slider-content .col-xl-8 p { margin-bottom: 0;}
.chat-content {  height: 407px; overflow-y: hidden;}
.gray-bg { background-color: #eceff1;}
.chat-content .carousel-indicators {transform:translateY(-183px) translateX(230px); width: fit-content;}
.chat-content .carousel-indicators li {width:8px; height:8px; border-radius:100%; background-color:#fff; opacity: 1;}
.chat-content .carousel-indicators .active {background-color:#FFF; opacity: 0.6;}
.chat-content .carousel-control-next,.chat-content .carousel-control-prev {top:-35px; width:fit-content; height:fit-content; padding:8px 15px; opacity: 1;}
.chat-content .carousel-control-next {left:330px;}
.chat-content .carousel-control-prev {left:245px;}

/* Design-three */
.design-three .chatbot {height:585px;}
.design-three .chat-content {height:440px; overflow-y:hidden;}
.p-third {box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.20); padding:15px; margin-bottom:15px; font-family:'Montserrat',sans-serif; border-radius:3px;}
.p-third p {color:rgba(0, 0, 0, 0.70); margin-bottom:0; font-size:14px;}
.p-third h5 {font-weight:600; font-size:18px;}
#moreText {display:none;}
#moreText-1 {display:none;}
.read-more-btn {background:none; border:none; color:#57a0e3;}

/* Responsive */
@media (max-width:767px) {
.chatbot {left:50%; top:50%;-webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
}